<!--include navbar-->
<%- include('include/_navbar') %>
<!--/include navbar-->


<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="products"><i class="fas fa-angle-double-left"></i> All Products</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New Product</h2>
            <span class="text-dark">Use the below form to create a new product</span>
        </div>

        <!-- add user form -->
        <%- include('include/_products_form') %>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
