<!--include navbar-->
<%- include('include/_navbar') %>
<!--/include navbar-->



<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/products"><i class="fas fa-angle-double-left"></i> All Products</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Product</h2>
            <span class="text-dark">Use the below form to Update an account</span>
        </div>

        <!-- add user form -->
         <!-- form handling -->
 <form method="POST" id="update_product">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="<%= product._id %>">
            <input type="text" name="name" value="<%= product.name %>" placeholder="Mark Stoenis">
        </div>
        <div class="form-group">
            <label for="Price" class="text-light">Price</label>
            <input type="text" name="price" value="<%= product.price %>" placeholder="12434">
        </div>
        <div class="form-group"> 
            <label for="gender" class="text-light">Availabillity</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="availabillity" value="Available" <%= product.availabillity== 'Male' ? 'checked' : '' %>>
                <label for="radio-2" class="radio-label">Availabily</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="availabillity" value="Available"  <%= product.availabillity == 'Female' ? 'checked' : '' %> >
                <label for="radio-3" class="radio-label">Availabily</label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
